* { 
    box-sizing: border-box;
   
}

.containerPortfolio {
    text-align: center;
}

body {
    /* background-image: url("/Users/jenn/code/week2hmwk/Jennartport/images/logos/spiration light/spiration-light.png"); */
   background-image: url("/Users/jenn/code/week2hmwk/Jennartport/images/wall4/wall4.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #006c84; 
   
}

.navedits {
    background-color: #006c84; 
    color: #e2e8e4;
}



a:link {
    color:#e2e8e4;
}

a:visited {
    color:#e2e8e4;
}


.jumbo-edits {
    /* background-image: url("/Users/jenn/code/week2hmwk/Jennartport/images/background_side_abstract.jpg"); */
    background-color: #6eb5c0;
    color: #f4eade;
   
    
}

/* .textdiv {
    width: 1110px;
    margin: 0 auto;
} */


.myname {
    font-style: italic;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #006c84;
}

/* .aboutmeborder {
    background-color: #6eb5c0;
    color: #006c84;
} */

.firstintro {
    color: #006c84; 
}

.mainbody {
    background-color: #e2e8e4;
    color: #006c84;
    padding: 15px;
    margin-bottom: 20px;
    /* border: 2px solid #ffccbb; */



}
.selfport {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    /* border: 10px solid green; */
    float: left;
}


.card-edits{
    padding-right:5px;
    padding-left:5px;
    padding-top: 40px;
    padding-bottom:40px;
    border: 2px solid #6eb5c0;
    margin: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px; 
  


}

.cardtitle-edits {
    padding-bottom:10px;
    border-bottom: 2px solid rgb(184, 184, 184);
    text-align: center;
   
    color: #006c84;
}

.card-text-edit {
    padding: 10px;
}

.interesttitle {
    text-align: center;
    padding-top: 10px;
}

aside {
    float: right;
   display: inline; 
}

.interestheader {
    background-color: #6eb5c0;
    color: #006c84;
}

.buttonedits {
    padding-top: 20px; 
    /* didn't change anything */
}

footer {
    text-align: center;
    background-color: #e2e8e4;
    border-top: 2px solid #006c84; 
    color: #006c84;
}